<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>KOAVoorzitterWeb</display-name>
	<servlet>
		<servlet-name>KOAServlet</servlet-name>
		<display-name>KOAServlet</display-name>
		<servlet-class>com.logicacmg.koa.voorzitter.servlet.KOAServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KOAVoorzitterTicketServlet</servlet-name>
		<display-name>KOAVoorzitterTicketServlet</display-name>
		<servlet-class>com.logicacmg.koa.voorzitter.ticket.KOAVoorzitterTicketServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KOASchedulerServlet</servlet-name>
		<display-name>KOASchedulerServlet</display-name>
		<servlet-class>com.logicacmg.koa.servlet.KOASchedulerServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FileExportServlet</servlet-name>
		<display-name>FileExportServlet</display-name>
		<servlet-class>com.logicacmg.koa.servlet.FileExportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<display-name>ReportServlet</display-name>
		<servlet-class>com.logicacmg.koa.reportserver.servlet.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/GetCurrentState</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/GetCurrentCounters</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAVoorzitterTicketServlet</servlet-name>
		<url-pattern>/Ticket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/SchedulerTasks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/JobTypesOverview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ScheduledJobsOverview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStateInitialize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStateReInitialize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStateOpen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStateClose</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStateSuspend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStatePrepareVoteCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStateCountVote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ChangeStatePrepare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/Report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileExportServlet</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportRenderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/CompareFingerprints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/ShowReports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/FetchData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOAServlet</servlet-name>
		<url-pattern>/SelectProcesVerbaal</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>voorzitterResources</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
			<url-pattern>*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			POST</http-method>
			<http-method>
			PUT</http-method>
			<http-method>
			HEAD</http-method>
			<http-method>
			TRACE</http-method>
			<http-method>
			DELETE</http-method>
			<http-method>
			OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>voorzitter</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Voorzitter Kiezen op afstand</realm-name>
	</login-config>
	<security-role>
		<description></description>
		<role-name>voorzitter</role-name>
	</security-role>
</web-app>
