<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>KOADatabeheerWeb</display-name>
	<servlet>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<display-name>KOADatabeheerServlet</display-name>
		<servlet-class>com.logicacmg.koa.databeheer.servlet.KOADatabeheerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KOADatabeheerTicketServlet</servlet-name>
		<display-name>KOADatabeheerTicketServlet</display-name>
		<servlet-class>com.logicacmg.koa.databeheer.ticket.KOADatabeheerTicketServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<display-name>ReportServlet</display-name>
		<servlet-class>com.logicacmg.koa.reportserver.servlet.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerTicketServlet</servlet-name>
		<url-pattern>/Ticket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/ProcessUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/UploadKieslijst</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/UploadKRRemove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/UploadKRUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/UploadKRReplace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/SelectExport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportRenderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/Report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/ScheduledJobsOverview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KOADatabeheerServlet</servlet-name>
		<url-pattern>/SelectUpload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DatabeheerResources</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
			<url-pattern>*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			POST</http-method>
			<http-method>
			PUT</http-method>
			<http-method>
			HEAD</http-method>
			<http-method>
			TRACE</http-method>
			<http-method>
			DELETE</http-method>
			<http-method>
			OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>databeheer</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>KOA Databeheer login</realm-name>
	</login-config>
	<security-role>
		<description></description>
		<role-name>databeheer</role-name>
	</security-role>
</web-app>
