[submodule "EVTs/StakeWeightedVoting"]
	path = EVTs/StakeWeightedVoting
	url = https://github.com/FollowMyVote/StakeWeightedVoting.git
[submodule "EVTs/votetec"]
	path = EVTs/votetec
	url = git@github.com:demtech/votetec.git
[submodule "EVTs/evote"]
	path = EVTs/evote
	url = git@github.com:mdipierro/evote.git
