BODY {
	color: black;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	background-color: white;
	margin: 2px
}

UL {
	list-style-type: disc
}

OL {
	list-style-type: decimal
}

h1           {font-family: Verdana, Arial, sans-serif; font-size: 14pt;  font-weight: bold }
h2           {font-family: Verdana, Arial, sans-serif; font-size: 11pt;  font-weight: bold }
h3           { font-family: Arial, sans-serif; font-variant: normal; font-size: 10pt; 
               font-weight: bold }
TD {
	font-style: normal;
	font-family: Verdana, Arial, sans-serif;
	font-variant: normal;
	font-size: 8pt
}